@import 'reset.css';

body {
    font-family: 'Verdana', sans-serif, serif;
    font-size: 15px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.lock {
    overflow: hidden;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper--not-padding {
    padding: 0;
}

.button {
    display: inline-block;
    padding: 1em 2.5em;
    border-radius: 3.7em;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #fe504f;
    transition: background 0.05s linear
}

.button:hover {
    background: #E73231;
}

.button--gray {
    background: #343434;
}

.button--gray:hover {
    background: #1E1E1E;
}


.button--center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.button:last-child {
    margin-right: 0;
}

.title-h2 {
    font-size: 24px;
    font-weight: 700;
    color: #343434;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1.17;
}

.title-h2--white {
    color: #fff;
}

.description {
    font-size: 16px;
    color: #afafaf;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 80px;
    width: 100%;
}

.underline::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #fe504f;
    margin-top: 15px;
}

@media (max-width: 767px) {

    .button {
        font-size: 18px;
    }

    .title-h2 {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
        margin: 0 auto 30px;
    }

}

.header,
.header::after {
    left: 50%;
    max-width: 1600px;
    width: 100%;
    height: 886px;
    transform: translateX(-50%);
}

.header {
    position: absolute;
    top: 0;
    z-index: -1;
}

.header::before,
.header::after {
    content: '';
    display: block;
    max-width: 1600px;
    width: 100%;
    height: 886px;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.header::before {
    background: url("../images/header/bg.jpg") no-repeat;
}

.header::after {
    background: url("../images/header/chart.png") no-repeat;
    bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #fe504f;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    position: relative;
    z-index: 2;
}

.header__burger {
    display: none;
    width: 30px;
    height: 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

.header__burger span::before,
.header__burger span::after,
.header__burger span {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
}

.header__burger span {
    top: 11px;
    transition: background 0.1s linear;
}

.header__burger span::before,
.header__burger span::after {
    content: '';
    transition: transform 0.2s linear;
}

.header__burger span::before {
    top: -11px;
    transform-origin: 100% 2px;
}

.header__burger span::after {
    bottom: -11px;
    transform-origin: 100% 2px;
}

.header__burger.active span {
    background: transparent;
}

.header__burger.active span::before {
    transform: rotateZ(-45deg);
}

.header__burger.active span::after {
    transform: rotateZ(45deg);
}

.header__nav__list {
    display: flex;
}

.header__nav__item {
    margin-right: 46px;
}

.header__nav__item:last-child {
    margin-right: 0;
}

.header__nav__link {
    display: block;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: ;
    white-space: nowrap;
    padding: 12px 2px;
    border-bottom: 3px solid transparent;
    transition: border 0.05s linear;
}

.header__nav__link.active,
.header__nav__link:hover {
    border-bottom-color: #fe504f;
}

@media (max-width: 1200px) {

    .header::after {
        display: none;
    }

}

@media (max-width: 767px) {

    .header {
        height: 620px;
    }

    .header.active {
        z-index: 5;
    }

    .header__inner {
        padding-top: 30px;
    }

    .logo {
        font-size: 26px;
    }

    .header__burger {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__nav.active {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100vh;
        display: block;
        overflow: auto;
        background: #343434;
    }

    .header__nav__list {
        display: table;
        width: 270px;
    }

    .header__nav.active .header__nav__list {
        flex-direction: column;
        padding: 20px 10px;
    }

    .header__nav.active .header__nav__item {
        margin-right: 40px;
    }

    .header__nav__link {
        padding: 12px 12px;
        border: 1px solid transparent;
    }

    .header__nav__link.active,
    .header__nav__link:hover {
        border-top-color: #fe504f;
        border-bottom-color: #fe504f;
    }

}

.intro {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.intro__title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    line-height: 1.24;
    width: 680px;
    margin-bottom: 30px;
}

.intro__description {
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
    max-width: 530px;
    margin-bottom: 45px;
}

@media (max-width: 1200px) {

    .intro__title {
        font-size: 50px;
    }

}

@media (max-width: 767px) {

    .intro {
        top: 150px;
    }

    .intro__title {
        max-width: 530px;
        width: 100%;
        font-size: 26px;
    }

    .intro__description {
        font-size: 15px;
    }

    .intro__container-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    .intro__container-buttons .button {
        margin: 0 30px 30px 0;
        margin-bottom: 30px;
    }

}

.context {
    background: #fff;
    position: relative;
    z-index: 1;
    margin-top: 205px;
}

.context__intro {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.context__intro__img {
    display: block;
    width: 100%;
}

.context__intro__info {
    max-width: 450px;
    position: absolute;
    bottom: 0;
    background: #343434;
    padding: 30px;
}

.context__intro__info::before {
    content: '';
    display: block;
    position: absolute;
    top: -45px;
    left: 30px;
    width: 46px;
    height: 46px;
    border: 23px solid transparent;
    border-bottom-color: #343434;
}

.context__intro__title {
    font-size: 20px;
    font-weight: 700;
    color: #fe504f;
    line-height: 1.3;
    text-decoration: none;
    text-transform: uppercase;
}

.context .wrapper {
    padding: 0;
}

.context__inner {
    background: #fff;
    padding: 45px 50px 25px;
}

.context__title {
    font-size: 18px;
    color: #343434;
    line-height: 1.44;
    margin: 45px 0 30px;
}

.context__p {
    font-size: 14px;
    color: #343434;
    line-height: 1.86;
    margin-bottom: 20px;
}

@media (max-width: 960px) {

    .context__intro__info {
        padding: 20px;
        max-width: 435px;
    }

    .context__intro__title {
        font-size: 18px;
    }

}

@media (max-width: 767px) {

    .context {
        margin-top: 140px;
    }

    .context__intro {
        max-width: 390px;
        width: 100%;
        margin: 0 auto;
    }

    .context__intro__container-img {
        overflow: hidden;
        max-width: 390px;
        height: 300px;
        position: relative;
    }

    .context__inner {
        background: #fff;
        padding: 45px 20px 25px;
    }

    .context__intro__img {
        height: 100%;
        width: auto;
        position: absolute;
        left: -50%;
    }

    .context__intro__info {
        padding: 20px;
        max-width: 390px;
        position: relative;
    }

    .context__intro__title {
        font-size: 16px;
    }

}

.services {
    margin-top: 886px;
    padding: 30px 0 80px;
    background: #fff;
}

.services__title {
    font-size: 24px;
    font-weight: 700;
    color: #343434;
    line-height: 1.7;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.services__description {
    font-size: 16px;
    color: #adadad;
    line-height: 1.5;
    text-align: center;
    max-width: 930px;
    width: 100%;
    margin: 0 auto 65px;
}

.services__container {
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: 300px;
    padding: 0 37px;
    margin-bottom: 55px;
}

.service__img {
    display: block;
    width: 55px;
    margin: 0 auto 17px;
}

.service__title {
    font-size: 16px;
    font-weight: 700;
    color: #343434;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}

.service__title.underline::after {
    margin: 7px auto 0;
}

.service__description {
    color: #aeaeae;
    line-height: 1.75;
    max-width: 920px;
    font-size: 14px;
    color: #aeaeae;
    text-align: center;
}

@media (max-width: 767px) {

    .services {
        margin-top: 620px;
        padding: 30px 0;
    }

    .services__description {
        font-size: 15px;
        margin: 0 auto 45px;
    }

    .service {
        margin-bottom: 35px;
        padding: 0 37px;
    }

}

@media (max-width: 640px) {

    .services {
        padding: 30px 0 0;
    }

    .services__container {
        justify-content: center;
    }

    .service {
        padding: 0;
    }

}

.contact {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: url("../images/contact/bg.jpg") no-repeat center;
    background-size: cover;
}

.contact__inner {
    padding: 110px 0 95px;
}

.contact__title {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.7;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 40px;
}

@media (max-width: 767px) {

    .contact__inner {
        padding: 50px 0;
    }

    .contact__title {
        font-size: 20px;
    }

}

.about__inner {
    padding: 80px 0;
}

.about__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__container-wedo-clients {
    display: flex;
}

.about__wedo {
    padding-right: 50px;
}

.about__item--clients {
    width: 565px;
}

.about__title {
    font-size: 24px;
    font-weight: 700;
    color: #343434;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.about .description {
    max-width: 885px;
}

.about__item__title {
    font-size: 20px;
    font-weight: 700;
    color: #fe504f;
    text-transform: uppercase;
    line-height: 2.7;
    margin-bottom: 27px;
}

.about__item__title.underline::after {
    margin-top: 0;
}

.about__item__description {
    font-size: 14px;
    color: #343434;
    line-height: 1.7;
}

.about__container-clients__logos {
    width: 565px;
    height: 375px;
    font-size: 0;
}

.about__client-logo {
    display: inline-block;
    max-width: 185px;
    width: 100%;
    margin: 0 5px 5px 0;
}

.about__client-logo__img {
    display: block;
    width: 100%;
}

.about__client-logo:nth-child(3n) {
    margin: 0 0 5px 0;
}

.about__slider__list {
    display: flex;
    justify-content: center;
}

.about__slider__item {
    margin-right: 5px;
}

.about__slider__item:last-child {
    margin-right: 0;
}

.about__slider__btn {
    display: block;
    width: 35px;
    height: 4px;
    padding: 15px 0;
    background: #aeaeae;
    background-clip: content-box;
    box-sizing: content-box;
}

.about__slider__item.active .about__slider__btn {
    background: #fe504f;
    background-clip: content-box;
}

.about__container-team {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: -20px;
    margin-right: -20px;
}

.about__person {
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    font-size: 0;
    position: relative;
}

.about__person__img {
    display: block;
    max-width: 200px;
    width: 100%;
}

.about__person__info {
    position: absolute;
    top: 0;
    left: 0;
    background: #fe504f;
    padding: 18px 20px;
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    display: none;
}

.about__person:hover .about__person__info,
.about__person.active .about__person__info {
    display: block;
}

.about__person__name {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
}

.about__person__profession {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 18px;
    margin: 0 20px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.about__person__profession-two {
    font-weight: 400;
    margin-top: 5px;
}

@media (max-width: 1200px) {

    .about__container-wedo-clients {
        flex-direction: column;
    }

}

@media (max-width: 767px) {

    .about__inner {
        padding: 40px 0;
    }

    .about__item__title {
        font-size: 18px;
    }

}

@media (max-width: 625px) {

    .about__container-wedo-clients {
        width: 100%;
    }

    .about__wedo {
        padding-right: 0;
    }

    .about__clients {
        max-width: inherit;
        width: 100%;
    }

    .about__container-clients {
        max-width: 275px;
        width: 100%;
    }

    .about__container-clients__logos {
        max-width: inherit;
        width: 100%;
        height: auto;
    }

    .about__client-logo {
        max-width: 135px;
    }

    .about__client-logo:nth-child(n) {
        margin: 0 5px 5px 0;
    }

    .about__client-logo:nth-child(2n) {
        margin: 0 0 5px 0;
    }

}

@media (max-width: 455px) {

    .about__container-team {
        max-width: 400px;
        width: 100%;
    }

    .about__person {
        max-width: 140px;
    }

    .about__person__info {
        padding: 9px 10px;
    }

    .about__person__name {
        font-size: 18px;
    }

    .about__person__profession {
        margin: 0 10px;
        font-size: 14px;
    }

}

.we-do {
    max-width: 1614px;
    width: 100%;
    margin: 0 auto;
    padding: 90px 0;
    background: url("../images/we-do/bg.jpg") no-repeat;
    background-size: cover;
}

.we-do__inner {
    display: flex;
    flex-direction: column;
}

.we-do__btn {
    display: block;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background: #fe504f;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
    transition: background 0.05s linear;
}

.we-do__btn:hover {
    background: #E73231;
}

.we-do__btn__img {
    display: block;
    width: 24px;
    position: relative;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.we-do__title {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    line-height: 1.7;
    text-align: center;
    text-transform: uppercase;
}

.we-do__description {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

@media (max-width: 767px) {

    .we-do {
        padding: 40px 0;
    }

}

.news {
    padding: 80px 0;
}

.news__page {
    max-width: 1200px;
    width: 100%;
    margin: 190px auto 60px;
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
}

.news__title {
    font-size: 24px;
    font-weight: 700;
    color: #343434;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.news__heading {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    line-height: 1.23;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 110px;
}

.news .description {
    max-width: 1090px;
}

.news__body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.news__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.news__container__cell {
    display: flex;
}

.news__container__cell--down {
    flex-direction: row-reverse;
}

.news__container__cell .news__img {
    display: block;
    width: 600px;
}

.news__container__item > .news__img {
    display: block;
}

.news__container__info {
    width: 300px;
    height: 300px;
    padding: 30px;
    background: #343434;
    position: relative;
}

.news__container__info::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 30px solid transparent;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.news__container__cell--up .news__container__info::before {
    border-right-color: #343434;
    left: -60px;
}

.news__container__cell--down .news__container__info::before {
    border-left-color: #343434;
    position: absolute;
    top: 30px;
    right: -60px;
}

.news__container__item-right > .news__container__info::before {
    top: -60px;
    right: 30px;
    border-bottom-color: #343434;
}

.news__container__link {
    font-size: 20px;
    font-weight: 700;
    color: #fe504f;
    line-height: 1.3;
    text-decoration: none;
    margin-bottom: 17px;
}

.news__container__link:hover {
    text-decoration: underline;
}

.news__container__link.underline::after {
    margin-top: 10px;
}

.news__container__description {
    font-size: 12px;
    color: #fff;
    line-height: 1.67;
}

.news__container__date {
    font-size: 12px;
    font-style: italic;
    color: #fe504f;
    line-height: 1.67;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.news__page__more {
    position: relative;
    left: 0;
    right: 0;
    display: table;
    padding: 20px 130px;
    margin: 60px auto 0;
    background: #343434;
    font-size: 16px;
    font-weight: 700;
    color: #fe504f;
    line-height: 1.25;
    text-transform: uppercase;
    text-decoration: none;
}

.news__page__more:hover {
    background: #232323;
    cursor: pointer;
}

@media (max-width: 1220px) {

    .news__container {
        width: 900px;
    }

    .news__container__item-right {
        display: flex;
    }

    .news__container__item-right > .news__container__info::before {
        top: 30px;
        left: -60px;
        border-bottom-color: transparent;
        border-right-color: #343434;
    }

}

@media (max-width: 920px) {

    .news__heading {
        font-size: 46px;
        margin: 0 0 50px;
    }

    .news__container {
        max-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .news__container {
        flex-direction: column;
    }

    .news__container__cell {
        flex-direction: column;
    }

    .news__container__item-right {
        flex-direction: column;
    }

    .news__container__cell .news__container__img {
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
    }

    .news__container__cell .news__img {
        position: absolute;
        left: -50%;
    }

    .news__container__cell--up .news__container__info::before,
    .news__container__cell--down .news__container__info::before,
    .news__container__item-right > .news__container__info::before {
        top: -59px;
        left: 30px;
        border-color: transparent;
        border-bottom-color: #343434;
    }

}

@media (max-width: 767px) {

    .news {
        padding: 40px 0 15px;
    }

    .news__page {
        margin-top: 110px;
        margin-bottom: 30px;
    }

    .news__heading {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .news__page__more {
        margin-top: 20px;
        padding: 15px 90px;
    }

}

.comments .wrapper {
    padding: 0;
}

.comments__inner {
    padding: 15px 50px 70px;
}

.comments__count {
    margin-bottom: 30px;
}

.comments__count::after {
    content: '';
    display: block;
    height: 1px;
    background: #f0f2f6;
    position: relative;
    bottom: 1px;
}

.comments__count span {
    display: table;
    font-size: 18px;
    color: #000;
}

.comments__count span::after {
    content: '';
    display: block;
    height: 3px;
    background: #fe504f;
    margin-top: 8px;
    position: relative;
    z-index: 1;
}

.comments__form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.comments__input,
.comments__btn {
    height: 40px;
}

.comments__input {
    font-size: 18px;
    color: #343434;
    padding: 10px 15px;
    border: 1px solid #aeaeae;
    margin-right: 30px;
    display: block;
    flex-grow: 1;

}
.comments__input::placeholder {
    font-size: 18px;
    color: #aeaeae;
}

.comments__btn {
    font-size: 12px;
    color: #fd6041;
    line-height: 1.42;
    text-transform: uppercase;
    background: #343434;
    border: none;
    display: table;
    padding: 0 14px;
    transition: background 0.05s linear;
}

.comments__btn:hover {
    background: #212121;
}

.comment,
.comment__reply {
    padding-left: 65px;
    position: relative;
}

.comment {
    margin-bottom: 40px;
}

.comment__reply {
    margin-top: 40px;
}

.comment__img {
    position: absolute;
    top: 5px;
    left: 0;
}

.comment__info {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    margin-bottom: 10px;
}

.comment__name,
.comment__time {
    white-space: nowrap;
}

.comment__name::after,
.comment__time::after {
    content: '/';
    margin-left: 15px;
    margin-right: 15px;
}

.comment__btn-replay {
    text-decoration: none;
    color: #000;
}

.comment__btn-replay:hover {
    text-decoration: underline;
}

.comment__text {
    font-size: 14px;
    color: #8c8c8c;
    line-height: 1.43;
}

@media (max-width: 767px) {

    .comments__inner {
        padding: 15px 10px 30px 5px;
    }

    .comments__input {
        margin-bottom: 20px;
    }

    .comment__info {
        flex-direction: column;
    }

    .comment__name,
    .comment__time {
        margin-bottom: 10px;
    }

    .comment__name::after,
    .comment__time::after {
        display: none;
    }

    .comment,
    .comment__reply {
        padding-left: 58px;
    }

    .comment__reply .comment__reply {
        margin-left: -58px;
    }

}

.footer__body {
    max-width: 1600px;
    width: 100%;
    min-height: 716px;
    margin: 0 auto;
    background: url("../images/footer/bg.jpg") no-repeat;
    background: contain;
}

.footer__body__inner {
    padding: 80px 0 0;
    display: flex;
    justify-content: space-between;
}

.footer__item--right {
    max-width: 555px;
    width: 100%;
    padding: 0 55px;
}

.footer__text {
    font-size: 14px;
    color: #fff;
    line-height: 1.43;
    max-width: 510px;
    margin: 33px 0 40px;
}

.footer__item--right .footer__text {
    margin-top: 25px;
}

.footer__text::after {
    margin-top: 30px;
}

.footer__contact-data__item {
    min-height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.67;
    padding-left: 45px;
    margin-bottom: 15px;
    position: relative;
}

.footer__contact-data__item:last-child {
    margin-bottom: 0;
}

.footer__contact-data__img {
    position: absolute;
    left: 0;
}

.footer-h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fe504f;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    margin-bottom: 25px;
}

.footer-h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #fe504f;
    margin-top: 15px;
}

.footer__form {
    max-width: 455px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 80px;
}

.footer__input,
.footer__textarea {
    border: 1px solid #aeaeae;
    padding: 15px 17px;
    margin-bottom: 15px;
    color: #fff;
}

.footer__input,
.footer__input::placeholder,
.footer__textarea,
.footer__textarea::placeholder {
    display: block;
    font-family: 'Verdana', sans-serif, serif;
    font-size: 14px;
    line-height: 1.5;
    background: transparent;
}

.footer__input::placeholder,
.footer__textarea::placeholder {
    color: #afafaf;
}

.footer__textarea {
    resize: none;
    margin-bottom: 0;
    height: 190px;
}

.footer__btn {
    display: table;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    background: #fe504f;
    position: absolute;
    right: 55px;
    bottom: 0;
    padding: 0 45px;
}

.footer__footer {
    max-width: 1600px;
    width: 100%;
    min-height: 100px;
    margin: 0px auto;
    background: #343434;
    padding: 0 50px 0 20px;
    display: flex;
    align-items: center;
}

.footer__footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__copyright {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.67;
    text-transform: uppercase;
}

.footer__social__list {
    display: flex;
}

.footer__social__item {
    position: relative;
}

.footer__social__item::after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #fe504f;
    position: absolute;
    top: 17px;
    right: 0px;
}

.footer__social__item:last-child::after {
    display: none;
}

.footer__social__link {
    display: block;
    padding: 15px;
    transition: background 0.05s linear;
    border: 1px solid transparent;
    margin-left: -1px;
    transition: border 0.05s linear;
}

.footer__social__link:hover {
    border: 1px solid #fe504f;
}

@media (max-width: 1000px) {

    .footer__body {
        background-image: none;
        background: #343434;
    }

    .footer__body__inner {
        flex-wrap: wrap;
        padding: 30px 0;
    }

}

@media (max-width: 767px) {

    .footer__body__inner {
        padding: 30px 0 10px;
    }

    .footer-h2 {
        font-size: 20px;
    }

    .footer__item--right {
        padding: 0;
        margin: 50px 0 0 0;
    }

    .footer__input,
    .footer__textarea {
        padding: 12px 15px;
    }

    .footer__btn {
        left: 50%;
        right: 0;
        transform: translate(-50%);
    }

    .footer__footer {
         padding: 20px 10px 20px 10px;
    }

}